node_modules/
source/
tests/
dist/tests/
dist/**/*.d.ts
.git/
coverage/

Dockerfile
docker-compose.yml

.dockerignore
.gitignore
.env
.eslintrc
.eslintignore
.editorconfig
.gitlab-ci.yml
.editorconfig
.vscode
wallaby.conf.js
tslint.json
tsconfig.json
jsconfig.json

LICENSE
README.md
